{% extends 'base.html'%}
{% block title %}
Register
{% endblock %}
{% block content %}
<div class="container border border-white mt-lg-5 m-15 p-4 fs-3 w-75 text-white fw-bold">
    <h4 class="bg-dark text-white p-2 mb-3 fs-1 text-center">Register Here..</h4>
    <form method="post">
        {% csrf_token %}
        {%for field in form %}
        <div class="mb-3 p-2">
            {{field.label_tag}}
            {{field}}
            <!-- error part -->
            {%if field.errors %}
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text text-danger">
                    {{field.errors}}
                </span>
            </div>
            {%endif%}

            <div id="emailHelp" class="form-text">{{field.help_text}}</div>
        </div>
        {% endfor %}
        <input class="btn btn-dark fs-2" type="submit" value="Register">
    </form>
</div>
{% endblock %}